In [1]:
import pandas as pd
import numpy as np

# Section 1: Using the Titanic dataset:

### 1. Use the function defined in acquire.py to load the Titanic data.

In [2]:
import acquire as ac

In [3]:
titanic = ac.get_titanic_data()

### 2. Use the function defined in pepare.py to prepare the titanic data.

In [4]:
import prepare as pr

In [5]:
titanic = pr.prep_titanic_2(titanic)

### 3. Encode the categorical columns on train dataset. Create dummy variables of the categorical columns and concatenate them onto the dataframe. Remove the columns they are replacing. Repeat on validate and test.

In [6]:
import pandas as pd

In [7]:
dummies = pd.get_dummies(titanic[['embark_town', 'sex']], drop_first = True)
titanic = pd.concat([titanic, dummies], axis = 1)
titanic

,survived,pclass,sex,age,sibsp,parch,fare,embark_town,alone,embark_town_Queenstown,embark_town_Southampton,sex_male
0,0,3,male,22.0,1,0,7.2500,Southampton,0,0,1,1
1,1,1,female,38.0,1,0,71.2833,Cherbourg,0,0,0,0
2,1,3,female,26.0,0,0,7.9250,Southampton,1,0,1,0
3,1,1,female,35.0,1,0,53.1000,Southampton,0,0,1,0
4,0,3,male,35.0,0,0,8.0500,Southampton,1,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,0,0,13.0000,Southampton,1,0,1,1
887,1,1,female,19.0,0,0,30.0000,Southampton,1,0,1,0
888,0,3,female,30.0,1,2,23.4500,Southampton,0,0,1,0
889,1,1,male,26.0,0,0,30.0000,Cherbourg,1,0,0,1
890,0,3,male,32.0,0,0,7.7500,Queenstown,1,1,0,1

### 4. Create a function named preprocess_titanic that accepts the train, validate, and test titanic data, and returns the dataframes ready for modeling.

In [8]:
def preprocess_titanic(train, val, test):
    '''
    '''
    # create dummies for train
    dummies_train = pd.get_dummies(train[['embark_town', 'sex']], drop_first = True)
    train = pd.concat([train, dummies_train], axis = 1)
   
    # create dummies for validate
    dummies_val = pd.get_dummies(val[['embark_town','sex']], drop_first = True)
    val = pd.concat([val, dummies_val], axis = 1)
    
    #create dummies for test
    dummies_test = pd.get_dummies(test[['embark_town','sex']], drop_first = True)
    test = pd.concat([test, dummies_test], axis = 1)

    return train, val, test

# Section 2: Using the Telco dataset:

### Question 1: 
Use the function defined in acquire.py to load the Telco data.

In [9]:
telco = ac.new_telco_data()
telco.head()

,payment_type_id,internet_service_type_id,contract_type_id,customer_id,gender,senior_citizen,partner,dependents,tenure,phone_service,...,tech_support,streaming_tv,streaming_movies,paperless_billing,monthly_charges,total_charges,churn,contract_type,internet_service_type,payment_type
0,2,1,2,0002-ORFBO,Female,0,Yes,Yes,9,Yes,...,Yes,Yes,No,Yes,65.6,593.3,No,One year,DSL,Mailed check
1,2,1,1,0003-MKNFE,Male,0,No,No,9,Yes,...,No,No,Yes,No,59.9,542.4,No,Month-to-month,DSL,Mailed check
2,1,2,1,0004-TLHLJ,Male,0,No,No,4,Yes,...,No,No,No,Yes,73.9,280.85,Yes,Month-to-month,Fiber optic,Electronic check
3,1,2,1,0011-IGKFF,Male,1,Yes,No,13,Yes,...,No,Yes,Yes,Yes,98.0,1237.85,Yes,Month-to-month,Fiber optic,Electronic check
4,2,2,1,0013-EXCHZ,Female,1,Yes,No,3,Yes,...,Yes,Yes,No,Yes,83.9,267.4,Yes,Month-to-month,Fiber optic,Mailed check

In [24]:
telco_2 = ac.get_telco_data()
telco_2.head()

,payment_type_id,internet_service_type_id,contract_type_id,customer_id,gender,senior_citizen,partner,dependents,tenure,phone_service,...,tech_support,streaming_tv,streaming_movies,paperless_billing,monthly_charges,total_charges,churn,contract_type,internet_service_type,payment_type
0,2,1,2,0002-ORFBO,Female,0,Yes,Yes,9,Yes,...,Yes,Yes,No,Yes,65.6,593.3,No,One year,DSL,Mailed check
1,2,1,1,0003-MKNFE,Male,0,No,No,9,Yes,...,No,No,Yes,No,59.9,542.4,No,Month-to-month,DSL,Mailed check
2,1,2,1,0004-TLHLJ,Male,0,No,No,4,Yes,...,No,No,No,Yes,73.9,280.85,Yes,Month-to-month,Fiber optic,Electronic check
3,1,2,1,0011-IGKFF,Male,1,Yes,No,13,Yes,...,No,Yes,Yes,Yes,98.0,1237.85,Yes,Month-to-month,Fiber optic,Electronic check
4,2,2,1,0013-EXCHZ,Female,1,Yes,No,3,Yes,...,Yes,Yes,No,Yes,83.9,267.4,Yes,Month-to-month,Fiber optic,Mailed check

### Question 2:
Use the function defined in prepare.py to prepare the Telco data.

In [11]:
telco = pr.prep_telco(telco)

In [12]:
train, val, test = pr.split_data(telco, 'telco')

In [14]:
train.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3943 entries, 9705-IOVQQ to 3318-NMQXL
Data columns (total 20 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   gender                 3943 non-null   object
 1   senior_citizen         3943 non-null   int64
 2   partner                3943 non-null   object
 3   dependents             3943 non-null   object
 4   tenure                 3943 non-null   int64
 5   phone_service          3943 non-null   object
 6   multiple_lines         3943 non-null   object
 7   online_security        3943 non-null   object
 8   online_backup          3943 non-null   object
 9   device_protection      3943 non-null   object
 10  tech_support           3943 non-null   object
 11  streaming_tv           3943 non-null   object
 12  streaming_movies       3943 non-null   object
 13  paperless_billing      3943 non-null   object
 14  monthly_charges        3943 non-null   float64
 15  total_charges          3943 non-null   float64
 16  churn                  3943 non-null   object
 17  contract_type          3943 non-null   object
 18  internet_service_type  3943 non-null   object
 19  payment_type           3943 non-null   object
dtypes: float64(2), int64(2), object(16)
memory usage: 646.9+ KB

### Question 3:Encode the categorical columns on train.
a. Encode at least one column using .replace <br>
b. Encode at least one column using .map <br>
c. Encode the rest of the columns by creating dummy variables and concatenating them onto the dataframe.

In [15]:
train['total_charges'].replace(' ','0')

customer_id
9705-IOVQQ    5969.30
0635-WKOLD    2921.75
0032-PGELS      30.50
4581-LNWUM     649.40
6297-NOOPG    7752.05
               ...
2657-VPXTA     929.45
9837-BMCLM     242.05
3144-AUDBS     270.80
7503-EPSZW    1559.15
3318-NMQXL     266.80
Name: total_charges, Length: 3943, dtype: float64

In [16]:
#train.loc[:, 'is_female'] = train.gender.map({'Female': 1, 'Male': 0})

In [17]:
x_train = train.drop(columns = 'churn')
y_train = train[['churn']]

In [18]:
cat_cols, num_cols = [], []
for col in x_train.columns:
    if x_train[col].dtype == 'O':
        cat_cols.append(col)
    else:
        if x_train[col].nunique() < 10:
            cat_cols.append(col)
        else:
            num_cols.append(col)

In [19]:
cat_cols

['gender',
 'senior_citizen',
 'partner',
 'dependents',
 'phone_service',
 'multiple_lines',
 'online_security',
 'online_backup',
 'device_protection',
 'tech_support',
 'streaming_tv',
 'streaming_movies',
 'paperless_billing',
 'contract_type',
 'internet_service_type',
 'payment_type']

In [20]:
# initializes the empty list
dummies_list = []
# for column in the cat cols list: 
for col in cat_cols:
    # make dummy column (train(column in cat_cols list))
    dummies = pd.get_dummies(train[col], prefix=col, drop_first=True)
    # add the new list to the dummies list
    dummies_list.append(dummies)
# concat 
# The [train] is enclosed in a list to ensure that it is treated as a list of DataFrames.
dummies_df = pd.concat([train] + dummies_list, axis = 1)
train = dummies_df.reset_index()

In [21]:
train

,customer_id,gender,senior_citizen,partner,dependents,tenure,phone_service,multiple_lines,online_security,online_backup,...,streaming_movies_No internet service,streaming_movies_Yes,paperless_billing_Yes,contract_type_One year,contract_type_Two year,internet_service_type_Fiber optic,internet_service_type_None,payment_type_Credit card (automatic),payment_type_Electronic check,payment_type_Mailed check
0,9705-IOVQQ,Male,1,Yes,Yes,61,Yes,Yes,No,Yes,...,0,1,0,1,0,1,0,0,1,0
1,0635-WKOLD,Male,0,Yes,No,40,Yes,Yes,No,Yes,...,0,0,0,1,0,0,0,1,0,0
2,0032-PGELS,Female,0,Yes,Yes,1,No,No phone service,Yes,No,...,0,0,0,0,0,0,0,0,0,0
3,4581-LNWUM,Female,0,No,No,13,No,No phone service,No,No,...,0,1,0,0,0,0,0,0,1,0
4,6297-NOOPG,Female,0,Yes,No,70,Yes,Yes,No,Yes,...,0,1,1,0,1,1,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3938,2657-VPXTA,Female,0,Yes,Yes,10,Yes,No,No,No,...,0,1,1,0,0,1,0,0,1,0
3939,9837-BMCLM,Male,0,No,No,3,Yes,No,No,No,...,0,0,1,0,0,1,0,0,1,0
3940,3144-AUDBS,Female,0,Yes,No,6,Yes,No,No,No,...,0,0,1,0,0,0,0,0,1,0
3941,7503-EPSZW,Female,0,Yes,Yes,64,Yes,Yes,No internet service,No internet service,...,1,0,1,0,1,0,1,0,0,1
3942,3318-NMQXL,Male,0,No,No,3,Yes,No,No,No,...,0,1,1,0,0,1,0,0,1,0

### Question 4.
Repeat the same steps on validate and test.

### Question 5.
Create a function named prep_telco that accepts the train, validate, and test telco data, and returns the dataframes ready for modeling.

In [50]:
def preprocess_telco(train, val, test):
    
    dummies_train_list = []
    dummies_val_list = []
    dummies_test_list = []
    cat_cols = ['gender',
                'senior_citizen',
                'partner',
                'dependents',
                'phone_service',
                'multiple_lines',
                'online_security',
                'online_backup',
                'device_protection',
                'tech_support',
                'streaming_tv',
                'streaming_movies',
                'paperless_billing',
                'contract_type',
                'internet_service_type',
                'payment_type']
    for col in cat_cols:
        dummies_train = pd.get_dummies(train[col], prefix=col, drop_first=True)
        dummies_train_list.append(dummies_train)
        dummies_val = pd.get_dummies(val[col], prefix=col, drop_first=True)
        dummies_val_list.append(dummies_val)
        dummies_test = pd.get_dummies(test[col], prefix=col, drop_first=True)
        dummies_test_list.append(dummies_test)
    
    train = pd.concat([train] + dummies_train_list, axis = 1)
    #train = dummies_train_df.reset_index()

    val = pd.concat([val]+ dummies_val_list, axis = 1)
    #val = dummies_val_df.reset_index()

    test = pd.concat([test]+ dummies_test_list, axis =1)
    #test = dummies_test_df.reset_index()
    
    return train, val, test

In [47]:
train, val, test = pr.split_data(telco_2, 'telco')

In [48]:
train, val, test = preprocess_telco(train, val ,test)

In [49]:
train

,payment_type_id,internet_service_type_id,contract_type_id,customer_id,gender,senior_citizen,partner,dependents,tenure,phone_service,...,streaming_movies_No internet service,streaming_movies_Yes,paperless_billing_Yes,contract_type_One year,contract_type_Two year,internet_service_type_Fiber optic,internet_service_type_None,payment_type_Credit card (automatic),payment_type_Electronic check,payment_type_Mailed check
6832,1,2,2,9705-IOVQQ,Male,1,Yes,Yes,61,Yes,...,0,1,0,1,0,1,0,0,1,0
433,4,1,2,0635-WKOLD,Male,0,Yes,No,40,Yes,...,0,0,0,1,0,0,0,1,0,0
25,3,1,1,0032-PGELS,Female,0,Yes,Yes,1,No,...,0,0,0,0,0,0,0,0,0,0
3196,1,1,1,4581-LNWUM,Female,0,No,No,13,No,...,0,1,0,0,0,0,0,0,1,0
4466,1,2,3,6297-NOOPG,Female,0,Yes,No,70,Yes,...,0,1,1,0,1,1,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1821,1,2,1,2657-VPXTA,Female,0,Yes,Yes,10,Yes,...,0,1,1,0,0,1,0,0,1,0
6933,1,2,1,9837-BMCLM,Male,0,No,No,3,Yes,...,0,0,1,0,0,1,0,0,1,0
2194,1,1,1,3144-AUDBS,Female,0,Yes,No,6,Yes,...,0,0,1,0,0,0,0,0,1,0
5309,2,3,3,7503-EPSZW,Female,0,Yes,Yes,64,Yes,...,1,0,1,0,1,0,1,0,0,1
2320,1,2,1,3318-NMQXL,Male,0,No,No,3,Yes,...,0,1,1,0,0,1,0,0,1,0